* {
padding: 0;
margin: 0;
}
p {
margin-bottom: 20px;
}
.wrapper {
width: 80%;
margin: auto;
overflow:hidden;
}
header {
background: rgba(0,0,0,0.9);
width: 100%;
position: fixed;
z-index: 10;
}

nav {
float: left; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
list-style: none;
overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
float: left;
font-family: Arial, sans-serif;
font-size: 16px;
}
nav ul li a {
display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
padding: 20px;
color: #fff;
text-decoration: none;
}
nav ul li:hover {
background: #3ead47;
}
.contenido {
padding-top: 80px;
}


/* .header {
    padding: 0px;
    margin: 0px;
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}

.main-header{
    background-color: blue;
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    background-color: brown;
}
.nav-button{
    background-color: burlywood;
    margin-inline: 5px 5px;
    padding: 5px;
    border-radius: 5px;
}
.search{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.search-input{
    width: 20%;
} */