<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <section class="wrapper">
      <a href="movies">
        <article class="category">
          Peliculas
        </article>
      </a>
      <a href="actors">
        <article class="category">
          Actores
        </article>
      </a>
      <a href="gender">
        <article class="category">
          Generos
        </article>
      </a>
    </section>
  </body>
</html>
