<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href='/stylesheets/styleheader.css'>
</head>
<body>
  <!-- start header -->
    <%- include('partials/header'); %> 
  <!-- end header -->
  <main class="contenido">
    <h1><%= title %></h1>
    <!-- start search -->
      <%- include('partials/search'); %> 
    <!-- end search -->
    <section class="flex-container">
      <article class="grid-waper">
        <img src="movies.jpg" onerror="if (this.src != 'undefine.jpg') this.src='/images/undefine.jpg';"  class="img" alt="image">
        <a href="movies" class="title">
            Peliculas
        </a>
      </article>
      <article class="grid-waper">
        <img src="movies.jpg" onerror="if (this.src != 'undefine.jpg') this.src='/images/undefine.jpg';"  class="img" alt="image">
        <a href="actors" class="title">
          Actores
        </a>
      </article>
      <article class="grid-waper">
        <img src="movies.jpg" onerror="if (this.src != 'undefine.jpg') this.src='/images/undefine.jpg';"  class="img" alt="image">
        <a href="genres" class="title">
          Generos
        </a>
      </article>
    </section>
  </main>
</body>
</html>
