<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <section class="wrapper">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/movies">Peliculas</a></li>
                    <li><a href="/movies/new">Estrenos</a></li>
                    <li><a href="/movies/discover">Recomendados</a></li>
                    <li><a href="/actors">Actores</a></li>
                    <li><a href="/genres">Generos</a></li>
                    <li><a href="/movies/create">Agregar</a></li>
                    <li><a href="/actors/acting">Actuacion</a></li>
                </ul>
            </section>
        </nav>
    </header>
</body>
</html>