<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="wrapper">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/movies">Peliculas</a></li>
                    <li><a href="/movies/new">Estrenos</a></li>
                    <li><a href="/movies/recommended">Recomendados</a></li>
                    <li><a href="/actors">Actores</a></li>
                    <li><a href="/genres">Generos</a></li>
                    <li><a href="/create">Agregar</a></li>
                    <li><a href="/actors/acting">Actuacion</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <!-- <header class="main-header">
        <nav class="nav-bar">
            <a href="/" class="nav-button">
                <button>
                    INICIO
                </button>
            </a>
            <a href="/movies" class="nav-button">
                <button>
                    PELICULAS
                </button>
            </a>
            <a href="/movies/new" class="nav-button">
                <button>
                    ESTRENOS
                </button>
            </a>
            <a href="/movies/recommended" class="nav-button">
                <button>
                    RECOMENDADAS
                </button>
            </a>
            <a href="/actors" class="nav-button">
                <button>
                    ACTORES
                </button>
            </a>
            <a href="/genres" class="nav-button">
                <button>
                    GENEROS
                </button>
            </a>
            
            <a href="/create" class="nav-button">
                <button>
                    NUEVO
                </button>
            </a>
            <a href="/edit" class="nav-button">
                <button>
                    ACTUACION
                </button>
            </a>
            
        </nav>
    </header> -->
    
</body>
</html>